<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="forumService" class="com.souche.aop.service.impl.ForumServiceImpl" />

    <bean id="target" class="com.souche.aop.advice.NaiveWaiter" />

    <!-- #1 -->
    <bean id="greetBeforeAdvice" class="com.souche.aop.advice.GreetBeforeAdvice" />
    <bean id="greetBeforeWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.souche.aop.advice.Waiter"
          p:interceptorNames="greetBeforeAdvice"
          p:target-ref="target" />

    <!-- #2 -->
    <bean id="greetAfterAdvice" class="com.souche.aop.advice.GreetAfterAdvice" />
    <bean id="greetAfterWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.souche.aop.advice.Waiter"
          p:interceptorNames="greetAfterAdvice"
          p:target-ref="target" />

    <!-- #3 使用到 cglib -->
    <bean id="greetingInterceptor" class="com.souche.aop.advice.GreetingInterceptor" />
    <bean id="greetingInterceptorWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingInterceptor"
          p:target-ref="target"
          p:optimize="true" />

    <!-- #4 p:interfaces 会被覆盖，会使用到 cglib -->
    <bean id="greetThrowAdvice" class="com.souche.aop.advice.GreetThrowAdvice" />
    <bean id="greetThrowWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.souche.aop.advice.Waiter"
          p:interceptorNames="greetThrowAdvice"
          p:target-ref="target"
          p:optimize="true" />

    <!-- #5 一定要用 cglib -->
    <bean id="pMonitor" class="com.souche.aop.advice.ControllablePerformanceMonitor" />
    <bean id="monitor" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.souche.aop.advice.Monitorable"
          p:interceptorNames="pMonitor"
          p:target-ref="forumService"
          p:proxyTargetClass="true" />


</beans>