<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="target" class="com.souche.aop.advice.NaiveWaiter" />

    <!-- #1 -->
    <bean id="greetBeforeAdvice" class="com.souche.aop.advice.GreetBeforeAdvice" />
    <bean id="greetBeforeWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.souche.aop.advice.Waiter"
          p:interceptorNames="greetBeforeAdvice"
          p:target-ref="target" />

    <!-- #2 -->
    <bean id="greetAfterAdvice" class="com.souche.aop.advice.GreetAfterAdvice" />
    <bean id="greetAfterWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.souche.aop.advice.Waiter"
          p:interceptorNames="greetAfterAdvice"
          p:target-ref="target" />

    <!-- #2 使用到 cglib -->
    <bean id="greetingInterceptor" class="com.souche.aop.advice.GreetingInterceptor" />
    <bean id="greetingInterceptorWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingInterceptor"
          p:target-ref="target"
          p:optimize="true" />


</beans>